# Data Science Tools and Ecosystem

## Author
Wang Cho

## In this notebook, Data Science Tools and Ecosystems are summarized.

### __Objectives__

- List popular languages for Data Science
- List common libaries used for Data Science
- List Data Science Tools

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C/C++
4. SQL

### Some of the commonly used libaries used by Data Scientists include:
1. tensorflow
2. NumPy
3. matplotlib
4. pytorch

### Data Science Tools

|Data Science Tools|
|------------------|
|JupyterLab|
|Visual Studio|
|Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python.

- 1+1
- 2-1
- 1*5
- 4/2

In [5]:
# This is a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335